/* You can add global styles to this file, and also import other style files */


/* font-family: 'Roboto',
sans-serif;
font-family: 'Titillium Web',
sans-serif;
font-family: 'Inconsolata',
monospace;
font-family: 'Roboto Mono',
monospace;
font-family: 'Shadows Into Light',
cursive; */

body {
    font-family: 'Titillium Web';
    background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Titillium Web';
}

p {
    font-family: 'Titillium Web';
    font-size: 16px;
}