<footer>
    <div class="container">
        <img width="50" src="assets/images/logo.png" alt="">
        <h3>ArticleStyle</h3>
        <hr>
        <ul>
            <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href=""><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            <li><a href=""><i class="fa fa-instagram"></i> Instagrams</a></li>
            <li><a href=""><i class="fa fa-google-plus"></i> Google+</a></li>
            <li><a href=""><i class="fa fa-github"></i> Github</a></li>
        </ul>
        <p>2017 &copy; Copyright. All right reserved.</p>
    </div>
</footer>